{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="home_title">
                <p>User</p>
            </div>

            <div id="profile_container">
                <table class="cruds">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Enabled</th>
                            <td>{% if user.enabled %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Lastlogin</th>
                            <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Passwordrequestedat</th>
                            <td>{% if user.passwordRequestedAt %}{{ user.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li >
                        <a href="{{ path('user_index') }}">Back to the list</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
