{% extends 'base.html.twig' %}

{% block body %}
    <h1>Poitypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poiType in poiTypes %}
            <tr>
                <td><a href="{{ path('poitype_show', { 'id': poiType.id }) }}">{{ poiType.id }}</a></td>
                <td>{{ poiType.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('poitype_show', { 'id': poiType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('poitype_edit', { 'id': poiType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('poitype_new') }}">Create a new poiType</a>
        </li>
    </ul>
{% endblock %}
